<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lexpat BankBot Example  </title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.1073.0.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
  </head>
  <body class="bg-white">
    <div class="container mx-auto" id="app">
      <div class="max-w-2xl border rounded">
        <div>
          <div class="w-full">
            <div class="relative flex items-center p-3 border-b border-gray-300">
              <span class="block ml-2 font-bold text-gray-600">{{AppName}}</span>
              <select name="lg" id="lg" class="mx-5 bg-gray-600 text-gray-300" v-model="SelectedLanguage">
                  <option  disabled>Select Language</option>
                  <option v-for="language in LanguageList" v-bind:value="{ id: language.id, text: language.name }">
                   {{ language.name }}
                 </option>
                </select>
            </div>
            <div class="relative w-full p-6 overflow-y-auto h-[40rem]">

              <ul class="space-y-2">
                <li class="flex" v-for="msg in Messages" :key="msg.text" v-bind:class="msg.activeClass">
                  <div class="relative max-w-xl px-4 py-2 text-gray-700 rounded shadow">
                    <span class="block">{{ msg.text }}</span>
                  </div>
                </li>
                
              </ul>

            </div>

            <div class="flex items-center justify-between w-full p-3 border-t border-gray-300">

             

              <input type="text" placeholder="Message"
                class="block w-full py-2 pl-4 mx-3 bg-gray-100 rounded-full outline-none focus:text-gray-700"
                name="message" v-model="Prompt" v-on:keyup.enter="reply" required />
              
              <button type="submit" @click="reply">
                <svg class="w-5 h-5 text-gray-500 origin-center transform rotate-90" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20" fill="currentColor">
                  <path
                    d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z" />
                </svg>
              </button>
            </div>
            <div class="flex items-center justify-end w-full p-3 border-t border-gray-300">
                <span class="text-xs text-italic text-gray-700">inspired by <a href="https://larainfo.com/blogs/tailwind-css-chat-ui-example">larainfo</a> and <a href="https://github.com/miromasat/lexpat">miromasat</a></span>
            </div>    
          </div>
        </div>
      </div>
    </div>


  <script>
    Vue.createApp({
      data() {
        return {
          AppName: 'Lexpat BankBot',
          SelectedLanguage: {id: 'en', name: 'English'},
          LanguageList: [
            {id: 'sk', name: 'Slovensky'},
            {id: 'cz', name: 'Čeština'},
            {id: 'hu', name: 'Magyar'},
            {id: 'de', name: 'Deutch'},
            {id: 'en', name: 'English'}
          ],
          Messages: [
            {text: 'Hi/Ahoj/Szia/Hallo!', activeClass: 'justify-start'}
          ],
          Prompt: ''
        }
      },
      methods: {
        reply() {
          
          var newMessages = this.Messages
          newMessages.push({ text:this.Prompt, activeClass: 'justify-end' })
          this.$set(this.Messages, newMessages, true)
          this.$set(this.Prompt, '', false)
        }
      }
    }).mount('#app')
  </script>

  </body>
    
</html>